<h3 class="text-right col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 kaushan" ng-if="ax.about">
  <a ng-href="https://www.facebook.com/mnactivist" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
  <a ng-href="https://www.instagram.com/mnactivist" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a> 
  <a ng-href="https://www.twitter.com/mnactivist" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>  

</h3>

<div class="hidden-lg hidden-md col-xs-12 text-center hidden">
  <h3 class="kaushan">Connect with others? </h3>
  <input type="text" ng-model="ax.search" placeholder="Search Organizations" />
  <a ng-href="/#!/search" ng-click="ax.sendSearch(ax.search)"><i class="fa fa-search" aria-hidden="true"></i></a>
</div>

<br />
<br />

<div class="col-lg-4 col-lg-offset-4 col-sm-12 col-xs-12">
  <!-- Begin MailChimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
    We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>

  <div id="mc_embed_signup">
    <form action="https://screamfreely.us17.list-manage.com/subscribe/post?u=26ef08dec24fecd6f14eba76f&amp;id=def8e19bf9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll" layout="column" layout-align="center center">
	<!--	<label for="mce-EMAIL">Subscribe to our mailing list</label> -->
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" style="display: in-line;" placeholder="email address" required>
	<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_26ef08dec24fecd6f14eba76f_def8e19bf9" tabindex="-1" value=""></div>
	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
    </form>
  </div>
  <!--End mc_embed_signup-->

</div>

<div class="base-div col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 text-center" style="padding-top: 0px;"> 
  <h3>Thank you for your interest in MnActivist.Org!</h3>
  <p>Thus far it is the work of one individual, <a href="https://cultureclap.com" target="_blank">Canin Apriori</a>. MnActivist is a passion project that has been brewing for almost a decade. The dream is to have the services expand across the entire state! </p>
  <p>Recently a non-profit has been established through which to make the vision real. You can learn more at <a ng-href="https://screamfreely.org">ScreamFreely.org</a>.</p>
  <p>Thanks for droppin' by!</p>
  <p><a href="mailto:mnactivist@screamfreely.org">mnactivist@screamfreely.org</a>.</p>
</div>

