<div id="headerDiv">
  <div class="container col-lg-6 col-lg-offset-3 text-center">
  <h1><a ng-href="/">Welcome to BookItAlready</a></h1> 
  <p>Helping artists and venues find each other.</p>
    <h1 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h1>
    <form ng-submit="lc.login()" style="padding-top: 20px;">
      <div>
	<label for="username">Email Address:</label>
	<input type="text" ng-model="lc.user.username" />
      </div>
      <div>
	<label for="password">Password:</label>
	<input type="password" ng-model="lc.user.password" />
      </div>
      <div>
	<input class="btn btn-default" type="submit" name="submit" value="Log In" />
<!--	<a href="#!/register">Register</a> -->
      </div>
    </form>
  </div>
</div>
